<div class="col-6 offset-3 mt-3">
    <div class="card">
        <div class="head-card bg-danger">
            <p class="text-center fs-4 fw-bold pt-2">Alta de producto</p>
        </div>
        <div class="card-body">
            <form action="">
                <legend class="text-center">Datos del producto</legend>

                <fieldset>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button class='btn btn-primary col-6'>Agregar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
